repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: double-quote-string-fixer
          - id: requirements-txt-fixer
          - id: check-added-large-files
            args: ["--maxkb=512"]

    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.9.6
      hooks:
        - id: ruff
          args: [--fix]
        - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.11.0
      hooks:
          - id: mypy

    - repo: https://github.com/PyCQA/pylint
      rev: v3.1.0
      hooks:
          - id: pylint
